<div class="row offset-3">
    <div class="col ml-5">
        <!--Display reviews about chosen product-->
        <div class="col-12 col-lg-6 mb-2 mt-2 font-weight-bold border-black rounded bg-darkred text-rose text-left">
            <div>
                <div class="card-top mt-2">
                    <h3>Title: {{ review.review_title }}</h3>
                </div>
                <hr class="w-100 bg-rose">
                <div class="card-body">
                    <p>Product Review: {{ review.review_description }}</p>
                    <hr class="w-75 bg-rose ml-0">
                    <p class="text-red">Product Rating: {{ review.review_rating }}</p>
                </div>
                <hr class="w-100 bg-rose">
                <div class="card-bottom">
                    <p class="text-muted text-rose"> by: {{ review.user }} on {{ review.date }}</p>
                    <small class="ml-3 font-weight-bold bg-white text-darkred">
                        <a class="text-black ml-2 mr-2" href="{% url 'edit_review' review.id %}">Edit</a> | 
                        <a class="text-red ml-2 mr-2" href="{% url 'delete_review' review.id %}">Delete</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
