{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="bg-rose">
        <div class="container mb-2">
            <div class="row">
                <div class="col text-uppercase text-center text-darkred mb-2">
                    <hr>
                    <h2>Shopping Bag <i class="fas fa-shopping-bag ml-2"></i></h2>
                </div>
            </div>

            <div class="row bg-black text-center">
                <div class="col text-rose text-uppercase mt-5">
                    {% if bag_items %}
                        <div class="table-responsive rounded"></div>
                    {% else %}
                        <p class="lead mb-5 text-capitalize"><i class="far fa-frown fa-lg"></i> - You haven't added any items yet!</p>
                        <a href="{% url 'products'%}" class="btn btn-outline-black btn-red rounded-0 btn-lg mb-3">
                            <span class="icon">
                                <i class="fas fa-hand-point-left"></i>
                            </span>
                            <span class="text-uppercase"> Keep Shopping ? !</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col text-uppercase text-center text-darkred mt-4">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}