html {
    height: 100%
}

body {
    background: url('/media/bowls_green.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Pontano Sans', sans-serif;
}

hr {
    border-top: 3px solid rgba(0,0,0,.7) !important;
}

.bg-darkred {
    background: #3b0d11;
}

.bg-red {
    background: #d7263d;
}

.bg-rose {
    background: #ffe3de;
}

.bg-black {
    background: #3a2d32;
}

.bg-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    position: fixed;
    background:#d7263d;
}

.shadow {
    background-color: rgba(0,0,0,0.5);
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content:center;
    height:1.5rem;
    width:1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
    font-family: 'Cinzel Decorative', cursive;
    size: 70px;
    margin: 0px 5px;
}

.shop-now-btn {
    background: #d7263d;
    color: #ffe3de;
    min-width: 260px;
}

.btn-red {
    background: #d7263d;
    color: #3a2d32;
}

.btn-rose {
    background: #ffe3de;
    color:#d7263d;
}

.list-inline-item:hover,
.list-inline-item:focus,
.list-inline-item:active {
    color:#d7263d
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #ffe3de;
    color:#3a2d32;
}

.btn-rose:hover,
.btn-rose:active,
.btn-rose:focus,
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus  {
    background: #3a2d32 !important;
    color:#ffe3de !important;
}

a.category-badge > span.badge:hover  {
    background: #3b0d11 !important;
    color:#ffe3de !important;

}

.text-black {
    color:#3a2d32 !important;
}

.text-darkred {
    color: #3b0d11 !important;
}

.text-red {
    color:#d7263d !important;
}

.text-rose {
    color:#f5dad5 !important;
}

.border-black {
    border: 1px solid #3a2d32 !important;
}

.border-rose {
    color:#f5dad5 !important;
    border-style: solid 3px;
}

.pt-6 {
    padding-top: 7.5%;
}

.btt-button {
    height: 35px !important;
    width: 35px !important;
    position: fixed;
    bottom: 15px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
    height: 35px !important;
    width: 35px !important;
}

/*---------- Media Queries --------*/
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desk-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


@media (min-width: 991px) {

    .header-container {
        padding-top: 200px;
    }

    body {
        height:calc(100vh -200px);
    }
}