html {
    height: 100%
}

body {
    background: url('/media/bowls_green.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Pontano Sans', sans-serif;
    overflow-x: hidden;
}

hr {
    border-top: 3px solid rgba(0,0,0,.7) !important;
}

.bg-darkred {
    background: #3b0d11;
}

.bg-red {
    background: #d7263d;
}

.bg-rose {
    background: #ffe3de;
}

.bg-black {
    background: #3a2d32;
}

.bg-cover {
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    position: fixed;
    background:#d7263d;
}

.shadow {
    background-color: rgba(0,0,0,0.6);
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content:center;
    height:1.5rem;
    width:1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
    font-family: 'Cinzel Decorative', cursive;
    size: 70px;
    margin: 0px 5px;
}

.shop-now-btn {
    background: #d7263d;
    color: #ffe3de;
    min-width: 260px;
}

.btn-red {
    background: #d7263d !important;
    color: #ffeae7 !important;
}

.btn-darkred {
    background: #3b0d11 !important;
    color: #ffeae7 !important;
}

.btn-rose {
    background: #ffe3de;
    color:#d7263d;
}

.btn-black {
    background: #3a2d32 !important;
    color:#ffe3de !important;
}

.list-inline-item:hover,
.list-inline-item:focus,
.list-inline-item:active {
    color:#d7263d
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: #ffe3de !important;
    color:#3a2d32 !important;
}

.btn-darkred:hover,
.btn-darkred:active,
.btn-darkred:focus {
    background: #ffe3de !important;
    color:#d7263d !important;
}

.btn-rose:hover,
.btn-rose:active,
.btn-rose:focus,
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus  {
    background: #3a2d32 !important;
    color:#ffe3de !important;
}

a.category-badge > span.badge:hover  {
    background: #3b0d11 !important;
    color:#ffe3de !important;

}

.text-black {
    color:#3a2d32 !important;
}

.text-darkred {
    color: #3b0d11 !important;
}

.text-red {
    color:#d7263d !important;
}

.text-rose {
    color:#f5dad5 !important;
}

.border-black {
    border: 1px solid #3a2d32 !important;
}

.border-rose {
    color:#f5dad5 !important;
    border-style: solid 3px;
}

.pt-6 {
    padding-top: 6%;
}

.btt-button {
    height: 35px !important;
    width: 35px !important;
    position: fixed;
    bottom: 25px;
    right: 20px;
}

.btt-link, 
.remove-item, 
.update-link {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 75px;
    right:15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper{
    height: 5px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*---------- Media Queries --------*/
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color:#f5dad5;
}

.allauth-form-inner-content input {
    border-color:#3b0d11;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color:#3b0d11;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #f5dad5;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d7263d;
    border: 1px solid #3b0d11;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #d7263d;
    border-color: #f5dad5;
}

.allauth-form-inner-content a {
	color: #f5dad5;
}

@media (min-width: 992px) {
    .fixed-top-desk-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

@media (min-width: 991px) {

    .header-container {
        padding-top: 200px;
    }

    body {
        height:calc(100vh -200px);
    }
}