<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar w-auto mx-auto my-0">
        <li class="nav-item dropdown list-unstyled">
            <a href="#" class="bg-darkred font-weight-bold nav-link text-rose text-lg-uppercase mr-5" id="all-products-link" data-toggle="dropdown">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-rose" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item text-red font-weight-bold">All Products</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-red font-weight-bold">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-red font-weight-bold">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item text-red font-weight-bold">By Rating</a>
            </div>
        </li>
        <li class="nav-item dropdown list-unstyled">
            <a href="#" class="bg-darkred font-weight-bold nav-link text-rose text-lg-uppercase mr-5" id="all-products-link" data-toggle="dropdown">
                Bowls
            </a>
            <div class="dropdown-menu border-0 bg-rose" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=10bowls" class="dropdown-item text-red font-weight-bold">All Bowls</a>
                <a href="{% url 'products' %}?category=10bowls&direction=asc" class="dropdown-item text-red font-weight-bold">By Brand</a>
                <a href="{% url 'products' %}?category=10bowls&sort=price&direction=asc" class="dropdown-item text-red font-weight-bold">By Price</a>
                <a href="{% url 'products' %}?category=10bowls&sort=rating&direction=desc" class="dropdown-item text-red font-weight-bold">By Rating</a>
                
            </div>
        </li>
        <li class="nav-item dropdown list-unstyled">
            <a href="#" class="bg-darkred font-weight-bold nav-link text-rose text-lg-uppercase mr-5" id="all-products-link" data-toggle="dropdown">
                Clothing
            </a>
            <div class="dropdown-menu border-0 bg-rose" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=70upperbodywear,30footwear,60lowerbodywear" class="dropdown-item text-red font-weight-bold">All Clothing</a>
                <a href="{% url 'products' %}?category=30footwear" class="dropdown-item text-red font-weight-bold">Footwear</a>
                <a href="{% url 'products' %}?category=70upperbodywear" class="dropdown-item text-red font-weight-bold">Tops &amp; Jackets</a>
                <a href="{% url 'products' %}?category=60lowerbodywear" class="dropdown-item text-red font-weight-bold">Shorts, Skirts &amp; Trousers</a>
            </div>
        </li>
        <li class="nav-item dropdown list-unstyled">
            <a href="#" class="bg-darkred font-weight-bold nav-link text-rose text-lg-uppercase mr-5" id="all-products-link" data-toggle="dropdown">
                Accessories
            </a>
            <div class="dropdown-menu border-0 bg-rose" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=50personal,40marking,20clubequipment" class="dropdown-item text-red font-weight-bold">All Accessories</a>
                <a href="{% url 'products' %}?category=50personal" class="dropdown-item text-red font-weight-bold">Personal Accessories</a>
                <a href="{% url 'products' %}?category=40marking" class="dropdown-item text-red font-weight-bold">Marking Essentials</a>
                <a href="{% url 'products' %}?category=20clubequipment" class="dropdown-item text-red font-weight-bold">Club Equipment</a>
            </div>
        </li>
    </ul>
</div>