<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-red text-rose text-uppercase">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close text-darkred" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-rose text-darkred text-capitalize font-weight-bold">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-2 mb-2">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p class="logo-font bg-rose text-darkred text-uppercase font-weight-bold py-1"> Your Basket ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            {% if product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-100 img-thumbnail">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimag.png" alt="{{ item.product.name }}" class="w-100 img-thumbnail">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            {% if item.product.has_sizes %}
                                <p class="my-0 small">Size: {{ item.size|upper }}</p>
                            {% endif%}
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-darkred">
                        Total{% if free_shipping_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">£{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_shipping_delta > 0 %}
                        <p class="mb-0 p-2 bg-black shadow text-rose text-center">
                            You can get free delivery by spending <strong>£{{ free_shipping_delta }}</strong> !
                        </p>
                    {% endif %}
                    <a href="{% url 'view_bag' %}" class="btn btn-red btn-block rounded-0">
                        <span class="text-uppercase">Checkout</span>
                        <span class="icon">
                            <i class="fas fa-cash-register"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>